* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  min-height: 100vh;

  display: grid;
  grid-template: minmax(60px, auto) minmax(100vh, auto) 1fr minmax(70px, auto) / 1fr;
  grid-template-areas:
    "header"
    "video"
    "content"
    "footer";
}

.header {
  grid-area: header;
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 20;
  box-shadow: 0px 2px 10px black;
  padding: 5px 50px;
  display: grid;
  grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
  align-items: center;
  
}
.header_logo {
  grid-column: 2 / 3;
}

.header_logo img {
  max-height: 50px;
}

.header_menu {
  grid-column: 3 / 4;
}
.header_list {
  display: grid;
  grid-auto-flow: column;
  justify-items: end;
  color: black;
}
.header_list li {
}

.header_link {
  color: black;
  font-size: 18px;
  
}

@media (max-width: 952px) {
  .header_list {
    display: none;
  }
}

.full-screen {
  grid-area: video;
  position: relative;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  grid-column: 1 / 4;
}
.full-screen_body {
  padding: 50px 15px;
  background-color: rgba(0, 0, 0, 0.65);
  position: relative;
  z-index: 2;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  color: white;
  max-height: 100%;
}
.full-screen_title {
  font-size: 50px;
  letter-spacing: 25px;
  font-weight: 700;
  margin: 0px 0px 20px 0px;
}
.full-screen_text {
  font-size: 18px;
  letter-spacing: 15px;
}
.full-screen_video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content {
  position: relative;
  z-index: 5;

  grid-area: content;
  display: grid;
  grid-template: 1fr / 1fr minmax(auto, 1400px) 1fr;
  background-color: white;
}
/*.content_container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 50px 15px;
  font-size: 18px;
  line-height: 150%;
}
*/

.content_title {
  grid-column: 2 / 3;
  font-size: 30px;
  letter-spacing: 5px;
  padding: 100px 0px;
  text-align: center;
  font-weight: 600;
}
.content_gallery {
  grid-column: 2 / 3;
}
.gallery {
}
.gallery_title {
  font-size: 30px;
  letter-spacing: 5px;
  padding: 15px;
  text-align: center;
  font-weight: 600;
}
.gallery_items {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.gallery_item {
  position: relative;
  padding: 0px 0px 70% 0px;
}

.gallery_item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.content_products {
  grid-column: 2 / 3;
  margin-bottom: 150px;
}
.products {
}
.products_title {
  font-size: 30px;
  letter-spacing: 5px;
  padding: 100px 0px;
  text-align: center;
  font-weight: 600;
}
.products_items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  column-gap: 30px;
  row-gap: 50px;
}
.products_item {
  display: grid;
  grid-auto-flow: row;
  grid-template: auto 1fr minmax(40px, auto) / 1fr;
}
.products_image {
  position: relative;
  padding: 0px 0px 70% 0px;
  margin: 0px 0px 20px 0px;
}

.products_image img {
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.products_name {
  font-size: 24px;
  line-height: 30px;
  margin: -100px 0px 20px 33%;
  color: black;
}

.product_information {
  margin: -70px 10px 10px 10px;
  display: grid;
  grid-template: 1fr 1fr / 1fr;
  gap: 10px;
}

.product_information_top {
  display: grid;
  grid-template: 1fr / 1fr minmax(150px, 1fr) 1fr minmax(150px, 1fr);
  align-items: center;
  justify-items: center;
  font-size: 18px;
}

.product_information_top img {
  max-width: 50%;
}

.product_information_top_text {
  grid-column: 2 / 3;
  text-align: center;
}

.product_information_top_text:last-child {
  grid-column: 4 / 4;
}

.product_information_bottom {
  display: grid;
  grid-template: 1fr 1fr 1fr/ 1fr 2fr;
  align-items: center;
  justify-items: center;

  padding: 15px;
  column-gap: 40px;
  font-size: 19px;
}

.product_information_bottom_text {
  color: black;
  grid-row: 1 / 2;
  grid-column: 1/2;
  justify-self: end;
  font-weight: 700;
  letter-spacing: 1.55px;
}

.product_information_bottom_text1 {
  color: black;
  grid-row: 2 / 3;
  grid-column: 1/2;
  justify-self: end;
  font-weight: 700;
}

.product_information_bottom_text2 {
  color: black;
  grid-row: 3;
  grid-column: 1/2;
  justify-self: end;
  font-weight: 700;
}
.product_information_bottom_text3 {
  color: black;
  grid-row: 1 / 2;
  grid-column: 2;
  justify-self: start;
}
.product_information_bottom_text4 {
  color: black;
  grid-row: 2;
  grid-column: 2;
  justify-self: start;
  text-align: justify;
}
.product_information_bottom_text5 {
  color: black;
  grid-row: 3;
  grid-column: 2;
  justify-self: start;
}

.products_button {
  color: black;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px;
  justify-self: center;
  margin: 10px 0px 10px 0px;
  appearance: none;
  background-color: #000000;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  min-height: 40px;
  outline: none;
  padding: 16px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 50%;
  will-change: transform;
}

.products_button:disabled {
  pointer-events: none;
}

.products_button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.products_button:active {
  box-shadow: none;
  transform: translateY(0);
}

.footer {
  grid-area: footer;
  background-color: black;
  position: relative;
  z-index: 2;
  padding: 15px;
  max-height: 80px;
  display: grid;
  grid-template: 1fr / 1fr minmax(auto, 1400px) 1fr;
  align-items: center;
  justify-items: center;
}

.footer_text {
  grid-column: 2 / 3;
  color: white;
}
